*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    width: 30rem;
    height: 3rem;
    background-color: blue;
    border-radius: 8px;
    color: white;
    font-size: 2rem;

}